@page
@model HospiEnCasa.App.Frontend.Pages.Familiares.IndexModel
@{
}

<h1>Lista de Familiares Designados </h1><br>

<a class ="btn btn-primary" asp-page="./Crear">Nuevo familiar</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">NumeroTelefono</th>
            <th scope="col">Genero</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Correo</th>

        </tr>
    </thead>

    @foreach (var f in @Model.familiarDesignado)
    {
        <tr>
            <td>@f.Nombre</td>
            <td>@f.Apellidos</td>
            <td>@f.NumeroTelefono</td>
            <td>@f.Genero</td>
            <td>@f.Parentesco</td>
            <td>@f.Correo</td>
            <td><a class="btn btn-secondary" asp-page=".Actualizar" asp-route-Id="@f.Id">Actualizar</a></td>
            <td><a class="btn btn-secondary" asp-page=".Eliminar" asp-route-Id="@f.Id">Eliminar</a></td>
            
        </tr>
    }
</table>